@tailwind base;
@tailwind components;
@tailwind utilities;
h3{
    font-family: 'Grand Hotel', cursive;
}
.green-btn{
    background-color: #29a19c;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.green-btn:hover{
    background-color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    border-color: #29a19c;
    color: #29a19c;

}
.black-btn{
    background-color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.black-btn:hover{
    background-color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    border-color: #29a19c;
    color: #29a19c;

}